@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Poppins:wght@400;500;600;700&display=swap');
@import url(/assets/css/media.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-size */
.vvs {
    font-size: var(--vvs);
}

.vs {
    font-size: var(--vs);
}

.s {
    font-size: var(--s);
}

.m1 {
    font-size: var(--m1) !important;
}

.m2 {
    font-size: var(--m2);
}


.m3 {
    font-size: var(--m3);
}

.m4 {
    font-size: var(--m4);
}

.m5 {
    font-size: var(--m5);
}

.l {
    font-size: var(--l);
}

.xl {
    font-size: var(--xl);
}

.xxl {
    font-size: var(--xxl);
}

/* color */
.grey {
    color: #808080 !important;
}

.grey2 {
    color: #7B7B7B;
}

.black {
    color: black;
}

.blue {
    color: #128DFF;
}

.bg-yellow1 {
    background-color: #F6E300;
}

.bg-yellow2 {
    background-color: #FFF03F;
}

.bg-white {
    background: white;
}

/* font-family */
.inter {
    font-family: "Inter", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.noto {
    font-family: 'Noto Serif', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}



/* font-style */

.f-style-normal {
    font-style: normal;
}

/* font-weight */
.fw-normal {
    font-weight: 400;
}

/* line-height */
.l-h-normal {
    line-height: normal;
}

.l-h-50 {
    line-height: 50px;
}

.l-h-19 {
    line-height: 19.2px;
}

.l-h-150 {
    line-height: 150%;
}

.l-h-180 {
    line-height: 180%;
}

.l-h-136 {
    line-height: 136%;
}

.l-h-24 {
    line-height: 24px;
}

.l-h-30 {
    line-height: 30px;
}

.l-h-104 {
    line-height: 104%;
}

/* opacity */
.opacity-70 {
    opacity: 0.7;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}

.mb-43 {
    margin-bottom: 43px;
}

.mt-18 {
    margin-top: 18px;
}

.gap-10 {
    gap: 10px;
}

.bg-grey {
    background-color: #F7F7F7;
}

.min-h-100 {
    min-height: 100vh;
}

.accordian {
    min-width: 540px;
    padding: 24px 21px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
}

.tab {
    max-width: 498px;
    height: 59px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

.tablabel {
    padding: 17px 23px 18px 19px;
    cursor: pointer;
}

.tab-content {
    padding: 0 23px 13px 19px;
}

.accordian-custom1 {
    padding: 24px 21px !important;
    border-radius: 20px !important;
    background: #FFF !important;
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25) !important;
}

.accordian-custom2 {
    border-radius: 0 !important;
}

.acc-item-custom1 {
    max-width: 498px !important;
    border-radius: 5px !important;
    border: 1px solid rgba(0, 0, 0, 0.10) !important;
}

.accordian-custom3 div h2 .accordion-button::after {
    background-image: url(/assets/images/accordian3-arrow.png) !important;
}

.accordian3btn {
    width: 100% !important;
    height: 64px !important;
    border-radius: 150px !important;
    background: #031227 !important;
    padding: 20px 28px 20px 32px !important;
}
.accordian-custom3.accordion{
    --bs-accordion-btn-icon-width: 1rem !important;
}

.pl-32{
    padding-left: 32px !important;
}

.accordion {
    --bs-accordion-btn-bg: none !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-border-color: none !important;
    --bs-accordion-bg: none !important;
}

.accordion1-btn:not(.collapsed) {
    color: black !important;
    border-top: 1px solid #128DFF !important;
    border-left: 1px solid #128DFF !important;
    border-right: 1px solid #128DFF !important;
}

.accordion2-btn {
    background-color: #FFF03F !important;
}

.body1 {
    border-bottom: 1px solid #128DFF !important;
    border-left: 1px solid #128DFF !important;
    border-right: 1px solid #128DFF !important;
}

.accordion-button::after {
    background-image: url(/assets/images/arrow2.png) !important;
}

.acc-item-custom2 h2 .accordion2-btn::after {
    background-image: url(/assets/images/accordian2-arrow.png) !important;
}

/* Accordian3 */
.bg-blue {
    background-color: #000A1A;
}


/* Slick slider1 */
.bg-light-orange {
    background-color: #FFF7F4
}

.orange {
    color: #FF5300;
}

.margin-r-10 {
    margin-right: 10px;
}

.margin-l-7 {
    margin-left: 7px;
}

.black1 {
    color: #373737;
}



.l-h-58 {
    line-height: 58.59px;
}

.client {
    margin: 15px 0 60px 0;
}

.box {
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 25px 25px 24px 25px;
}

.para1 {
    max-width: 320px;
    height: 100px;
    margin: 10px 0 25px 0;
    text-align: left;
}

.gap-1 {
    gap: 1px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}



.prev,
.next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #373737;
    display: unset;
    background: none;
}

.prev:hover,
.next:hover {
    border-color: #FF5300;
}

.prev:hover svg {
    fill: #FF5300;
}

.next:hover svg {
    fill: #FF5300;
}

/* Slick Slider 2 */
.bg-brown {
    background-color: #F8F2E4;
}

.sl-con1 {
    max-width: 1440px;
    margin: 0 auto;
}

.sl-con2 {
    max-width: 1140px;
    margin: 0 auto;
}

.slborder {
    border: 2px solid black;
}

.team {
    padding: 88px 0 89px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.brown1 {
    color: #A59A90;
}

.f-w-900 {
    font-weight: 900;
}

.box2 {
    width: 570px;
    height: 326px !important;
    padding: 40px 56px;
    gap: 16px;
    background: url(/assets/images/bg.png);
}

.bordert {
    border-top: 2px solid black;
}

.borderl {
    border-left: 1px solid black;
}

.borderr {
    border-right: 1px solid black;
}

.prev2 {
    top: 21%;
    right: 16%;
    border: none;
    background: #F8F2E4;
}

.next2 {
    top: 21%;
    right: 11%;
    border: none;
    background: #F8F2E4;
}

.box2.slick-current.slick-active .brown1 {
    color: #70675F;
}

/* Slick Slider 3 */
.blue2 {
    color: #0B132A;
}

.rubik {
    font-family: "Rubik", sans-serif;
}

.grey3 {
    color: #4F5665;
}

.box3 {
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #DDD;
    padding: 30px;
    margin: 0 25px;
}

.gap-20 {
    gap: 20px;
}

.con3 {
    max-width: 1290px;
    margin: 0 -2.5% 0 auto;
}

.mb-60 {
    margin-bottom: 60px;
}

.prev3,
.next3 {
    border: 2px solid #F53838;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: unset;
    background: none;
}

.prev3 {
    top: 30px;
    left: 78%;
}

.next3 {
    top: 30px;
    left: 80%;
}

.prev3:hover svg {
    fill: white;
}

.next3:hover svg {
    fill: white;
}

.prev3:hover {
    background: #F53838;
}

.next3:hover {
    background: #F53838;
}

.slick-slider3 .slick-dots li button:before {
    position: absolute;
    top: 78px;
    content: '' !important;
    text-align: center;
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    background: #DDE0E4 !important;
    opacity: 1;
}

.slick-slider3 .slick-dots li.slick-active button:before {
    width: 45px !important;
    height: 15px !important;
    border-radius: 10px !important;
    background: #F53838 !important;
    opacity: 1;
    z-index: 2;
}

.box3.slick-slide.slick-current.slick-active {
    border-color: #F53838;
}